* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #D9D9D9;
    --laranja: #F76D02;
    --bg: #1C1C1C;
    --bg-laranja: #15150B;
}

@font-face {
    font-family: "College";
    src: url('./font/college.ttf') format('truetype');
}

body {
    background-color: var(--bg);
}

body, a, button {
    font-family: "College", Roboto;
    color: var(--branco);
} 

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}