* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --white: #fff;
    --branco: #cfcfcf;
    --laranja: #F76D02;
    --laranja-hv: #a94900;
    --bg: #1C1C1C;
    --black: #131313;
    --bg-laranja: #15150B;
    --cinza-hv: #f8d1ca;
}

@font-face {
    font-family: "College";
    src: url('./font/college.ttf') format('truetype');
}

body { background-color: var(--bg); height: 100vh; }

body, a, button { 
    font-family: "College", Roboto; 
    color: var(--branco);
}

ul { list-style-type: none; }

a { text-decoration: none; }

input, button { border: none; background: transparent; cursor: pointer; transition: 0.3s ease;}

header { width: 100%; background: var(--bg-laranja); }

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul { display: flex; gap: 1em; }

nav a img { width: 4em; }

nav > a:last-child {
    background-color: var(--laranja);
    padding: .8em 1.8em;
    border-radius: 4em;
    font-weight: bold;
}

/* @media (max-width: 500px) {
    nav {
        display: none;
    }
} */

nav a { font-family: Arial, sans-serif; transition: 0.2s ease; }

nav a:hover { color: var(--cinza-hv); }

nav a:last-child:active,
button:active { transform: scale(.95); }

.select { background: var(--laranja-hv); }